<h1 style='font-size:40px'>Spark SQL and DataFrames: Introduction to Built-in Data Sources</h1>

<h2 style='font-size:30px'> Using Spark SQL in Spark Applications</h2>
<div> 
    <ul style='font-size:20px'> 
        <li> 
            Neste capítulo, nós ainda lidaremos com outras formas de manipularmos DataFrames no Spark.
        </li>
        <li> 
            Uma funcionalidade que não foi explorada no capítulo anterior é a de se fazer queries SQL nos DF's. Basta criarmos uma View Temporária.
        </li>
    </ul>
</div>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Chapter 4').getOrCreate()

22/06/01 19:33:08 WARN Utils: Your hostname, veiga-Inspiron resolves to a loopback address: 127.0.1.1; using 192.168.15.21 instead (on interface wlp7s0)
22/06/01 19:33:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/veiga/.local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/01 19:33:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [104]:
a = pd.read_csv('https://raw.githubusercontent.com/databricks/LearningSparkV2/master/databricks-datasets/learning-spark-v2/flights/departuredelays.csv',
           dtype={'date':str, 'delay':np.int32, 'distance':np.int32, 'origin':str, 'destination':str})

In [46]:
import pandas as pd
import numpy as np
pd.read_csv('https://raw.githubusercontent.com/databricks/LearningSparkV2/master/databricks-datasets/learning-spark-v2/flights/departuredelays.csv',
           dtype={'date':str, 'delay':np.int32, 'distance':np.int32, 'origin':str, 'destination':str}).to_csv('departuredelays.csv')

In [47]:
# Iremos trabalhar com um dataset sobre vôos de avião.
schema = '`code` STRING, `date` STRING, `delay` INT, `distance` FLOAT, `origin` STRING, `destination` STRING' 
df = spark.read.csv('departuredelays.csv', schema=schema, header=True)

# Montando uma view temporária do DataFrame (é com ela que montaremos as nossas queries).
df.createOrReplaceTempView('us_delay_flights_tbl')

In [49]:
# Quais vôos percorreram mais de 1000 milhas?
spark.sql('''
        SELECT *
        FROM us_delay_flights_tbl
        WHERE distance > 1000
        ORDER BY distance DESC
''').show(5)

22/06/02 18:51:07 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , date, delay, distance, origin, destination
 Schema: code, date, delay, distance, origin, destination
Expected: code but found:
CSV file: file:///home/veiga/Documents/Python/PySpark/Learning%20Spark/Chapter%204/departuredelays.csv

+------+--------+-----+--------+------+-----------+
|  code|    date|delay|distance|origin|destination|
+------+--------+-----+--------+------+-----------+
|632432|02061625|   -9|  4330.0|   HNL|        JFK|
|632091|02021625|   -5|  4330.0|   HNL|        JFK|
|632347|02051625|   -8|  4330.0|   HNL|        JFK|
|632007|02011625|   -1|  4330.0|   HNL|        JFK|
|632614|02081625|   -1|  4330.0|   HNL|        JFK|
+------+--------+-----+--------+------+-----------+
only showing top 5 rows

In [50]:
# Vôos entre Sâo Francisco e Chicago com atraso de, no mínimo, 2 horas.
spark.sql('''
    SELECT *
    FROM us_delay_flights_tbl
    WHERE origin = 'SFO'
    AND destination = 'ORD'
    AND delay>=2
    ORDER BY delay DESC
''').show()

22/06/02 18:51:12 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , date, delay, distance, origin, destination
 Schema: code, date, delay, distance, origin, destination
Expected: code but found:
CSV file: file:///home/veiga/Documents/Python/PySpark/Learning%20Spark/Chapter%204/departuredelays.csv

+-------+--------+-----+--------+------+-----------+
|   code|    date|delay|distance|origin|destination|
+-------+--------+-----+--------+------+-----------+
| 844767|02190925| 1638|  1604.0|   SFO|        ORD|
| 419836|01031755|  396|  1604.0|   SFO|        ORD|
| 413008|01022330|  326|  1604.0|   SFO|        ORD|
| 424117|01051205|  320|  1604.0|   SFO|        ORD|
| 413489|01190925|  297|  1604.0|   SFO|        ORD|
| 854740|02171115|  296|  1604.0|   SFO|        ORD|
| 420328|01071040|  279|  1604.0|   SFO|        ORD|
| 424118|01051550|  274|  1604.0|   SFO|        ORD|
|1346285|03120730|  266|  1604.0|   SFO|        ORD|
| 422803|01261104|  258|  1604.0|   SFO|        ORD|
| 421509|01161210|  225|  1604.0|   SFO|        ORD|
| 844476|02091800|  223|  1604.0|   SFO|        ORD|
| 422232|01221040|  215|  1604.0|   SFO|        ORD|
|1346286|03121155|  203|  1604.0|   SFO|        ORD|
| 851308|02111256|  197|  1604.0|   SFO|        ORD|
|1335490|03311405|  196|  1604.0|   SFO|        ORD|
| 419777|01031920|  193|  1604.0|   SFO|        ORD|
| 413015|01021410|  190|  1604.0|   SFO|        ORD|
|1343429|03171215|  189|  1604.0|   SFO|        ORD|
| 413246|01101410|  184|  1604.0|   SFO|        ORD|
+-------+--------+-----+--------+------+-----------+
only showing top 20 rows

In [117]:
# Descubra as épocas do ano em que os atrasos costumam ser maiores em vôos entre São Francisco e Chicago.
new_df = df.withColumn('date', F.to_date('date', 'MMddHHmm'))
new_df.createOrReplaceTempView('us_delay_flights_tbl')

In [126]:
spark.sql('''
            SELECT MONTH(T.date) MON, AVG(T.delay) AVERAGE_DELAY

            FROM 
            us_delay_flights_tbl T,

            (SELECT AVG(delay) AVERAGE
            FROM us_delay_flights_tbl) V

            WHERE T.origin='SFO'
            AND T.destination='ORD'
            

            GROUP BY MON
''').show()

+---+------------------+
|MON|     AVERAGE_DELAY|
+---+------------------+
|  1|13.622734761120263|
|  2|19.186471663619745|
|  3|13.661927330173775|
+---+------------------+

In [103]:
spark.sql('''
        SELECT TO_DATE(date) a
        FROM us_delay_flights_tbl
        ORDER BY date DESC
            ''').show()

+----------+
|         a|
+----------+
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
|1970-01-31|
+----------+
only showing top 20 rows

In [133]:
# Aprimorar a query para postar no LinkedIn. Usar um group by para quantificar os casos de 'Delay_Status'.
spark.sql('''
        SELECT code, date, origin, destination,
        CASE
            WHEN delay=0 THEN 'On Time'
            WHEN delay>0 AND delay<60 THEN 'Tolerable Delay'
            WHEN delay>=60  AND delay <120 THEN 'Short Delay'
            WHEN delay>=120 THEN 'Long Delay' 
            ELSE 'Early'
        END Delay_Status
        
        FROM us_delay_flights_tbl
''').show(5)

+----+----------+------+-----------+---------------+
|code|      date|origin|destination|   Delay_Status|
+----+----------+------+-----------+---------------+
|   0|1970-01-01|   ABE|        ATL|Tolerable Delay|
|   1|1970-01-02|   ABE|        DTW|          Early|
|   2|1970-01-02|   ABE|        ATL|          Early|
|   3|1970-01-02|   ABE|        ATL|          Early|
|   4|1970-01-03|   ABE|        ATL|          Early|
+----+----------+------+-----------+---------------+
only showing top 5 rows

22/06/04 20:25:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , date, delay, origin, destination
 Schema: code, date, delay, origin, destination
Expected: code but found:
CSV file: file:///home/veiga/Documents/Python/PySpark/Learning%20Spark/Chapter%204/departuredelays.csv

<h2 style='font-size:30px'> SQL Tables and Views</h2>
<h3 style='font-size:30px;font-style:italic'> Managed Versus Unmanaged Tables</h3>
<div>
    <ul style='font-size:20px'> 
        <li> 
            O Spark admite criarmos dois tipos de tabelas, as gerenciáiveis e as não-gerenciáiveis. Com as primeiras, o Spark administra tanto os seus dados, quanto os metadados. Já com as segundas, apenas os metadados são cuidados; no caso de um DELETE, por exemplo, os dados que povoam a tabela, surpreendentemente, seriam preservados. 
        </li>
    </ul>
</div>

<h2 style='font-size:30px'> Creating SQL Databases and Tables</h2>
<div>
    <ul style='font-size:20px'> 
        <li> 
            Todas as tabelas são armazenadas, por padrão, na base de dados <em> default</em>. Por outro lado, é possível gerar uma nova database.
        </li>
    </ul>
</div>

In [136]:
# Criando a DB 'learn_spark_db' e utilizando-a.
spark.sql('CREATE DATABASE learn_spark_db')
spark.sql('USE learn_spark_db')

DataFrame[]

<h3 style='font-size:30px;font-style:italic'> Creating a managed table</h3>

In [152]:
schema = 'code STRING ,date STRING, delay INT, distance FLOAT, origin STRING, destination STRING'
flights_df = spark.read.csv('departuredelays.csv', schema=schema)
flights_df.write.saveAsTable('managed_us_delay_flights_tbl')

In [154]:
spark.sql('SELECT * FROM managed_us_delay_flights_tbl').show(5)

+------+--------+-----+--------+------+-----------+
|  code|    date|delay|distance|origin|destination|
+------+--------+-----+--------+------+-----------+
|387821|01301041|   12|   241.0|   RIC|        EWR|
|387822|01300630|    0|    87.0|   RIC|        IAD|
|387823|01300600|   -5|   558.0|   RIC|        ORD|
|387824|01311501|   -1|   315.0|   RIC|        CLE|
|387825|01310620|    0|   315.0|   RIC|        CLE|
+------+--------+-----+--------+------+-----------+
only showing top 5 rows

<h2 style='font-size:30px'> Creating Views</h2>
<div>
    <ul style='font-size:20px'> 
        <li> 
            Como em Bancos de Dados Relacionais, views podem ser criadas. Lembrando, elas não armazenam dados como as tabelas e duram apenas no tempo da sessão.
        </li>
    </ul>
</div>

In [160]:
# Montando duas views.
spark.sql('''
    CREATE OR REPLACE GLOBAL TEMP VIEW us_origin_airport_SFO_global_tmp_view AS
    SELECT *
    FROM managed_us_delay_flights_tbl
    WHERE origin='SFO'
''')

spark.sql('''
    CREATE OR REPLACE TEMP VIEW us_origin_airport_JFK_global_tmp_view AS
    SELECT *
    FROM managed_us_delay_flights_tbl
    WHERE origin='JFK'
''')

DataFrame[]

<div>
    <ul style='font-size:20px'> 
        <li> 
            View temporárias globais têm que serem acessadas usando o prefixo global_temp.&lt;nome_view>. Para esse tipo de planilha, o Spark cria uma base de dados temporária.
        </li>
    </ul>
</div>

In [165]:
spark.read.table('global_temp.us_origin_airport_SFO_global_tmp_view').show(5)

+------+--------+-----+--------+------+-----------+
|  code|    date|delay|distance|origin|destination|
+------+--------+-----+--------+------+-----------+
|412960|01011250|   55|  2247.0|   SFO|        JFK|
|412961|01012230|    0|  2247.0|   SFO|        JFK|
|412962|01010705|   -7|  2247.0|   SFO|        JFK|
|412963|01010620|   -3|  2246.0|   SFO|        MIA|
|412964|01010915|   -3|   293.0|   SFO|        LAX|
+------+--------+-----+--------+------+-----------+
only showing top 5 rows

<h2 style='font-size:30px'> Viewing the Metadata</h2>
<div>
    <ul style='font-size:20px'> 
        <li> 
            O atributo "catalog" do spark nos ajuda a visualizar os metadados das bases de dados e tabelas.
        </li>
    </ul>
</div>

In [172]:
# O 'listColumns' funciona quase como um DESC do Oracle.
spark.catalog.listColumns('managed_us_delay_flights_tbl')

[Column(name='code', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='date', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='delay', description=None, dataType='int', nullable=True, isPartition=False, isBucket=False),
 Column(name='distance', description=None, dataType='float', nullable=True, isPartition=False, isBucket=False),
 Column(name='origin', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='destination', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False)]

<p style='color:red'> Caching SQL Tables