<h1 style='font-size:40px'> PySpark Tutorial</h1>
<h2 style='font-size:30px'>Instalação </h2>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 58 kB/s  eta 0:00:011   |█▋                              | 14.5 MB 168 kB/s eta 0:26:26     |██████████████████████▍         | 196.7 MB 362 kB/s eta 0:03:54     |█████████████████████████▎      | 221.9 MB 454 kB/s eta 0:02:11     |█████████████████████████████▉  | 262.7 MB 329 kB/s eta 0:00:57
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 334 kB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=34c0c7b07e48c4f04eb7b4babbb5bcf6de26074fd7257fc2a15b7776a9e2ead0
  Stored in directory: /home/veiga/.cache/pip/wheels/58/94/83/915c9059e4b038e2d43a6058f307fe1c3e8536e5745f3b23b7
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Note: you may need to restart the kernel to use updated packages.

<div> 
    <hr>
    <h2 style='font-size:30px'> Introdução</h2>
</div>

In [8]:
# Por efeitos de comparação, vamos carregar um arquivo csv no pandas
import pandas as pd
pd.read_csv('test1.csv')

   Unnamed: 0       Name  age  Experience  Salary
0           0      Krish   31          10   30000
1           1  Sudhanshu   30           8   25000
2           2      Sunny   29           4   20000
3           3       Paul   24           3   20000
4           4     Harsha   21           1   15000
5           5    Shubham   23           2   18000

<div> 
    <ul style='font-size:20px'>
        <li>
            Iremos agora criar uma sessão no Spark. Para isso, é necessário importar o objeto SparkSession, de pyspark.sql.
        </li>
    </ul>
</div>
<strong style='font-size:16px'>Nota: para se usar o pyspark, é necessário ter o Java instalado em sua máquina! </strong>

In [10]:
# A seção deve ter um determinado nome.
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate() 
spark

In [11]:
# Lendo um arquivo csv. Note como a sintaxe é semelhante com a do pandas.
spark.read.csv('test1.csv')

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [9]:
spark

<p style='color:red'> Parei em 9:00</p>